* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.books-zero {
    text-align: center;
    width: 100%;
    font-family: system-ui;
    color: #afafaf;
    font-weight: 200;
}
.flex-49 {
    flex: 0 0 49%;
}
.flex-for-authors {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
button {
    border: none;
    background: none;
}
button:focus, textarea:focus {
    outline: none;
}
input:focus {
    outline: none;
}
.display-flex {
    display:flex;
}
.flex-column {
    flex-direction: column;
}
.padding-30 {
    padding: 30px;
}
.align-items-center {
    align-items: center;
}
.justify-space-btw {
    justify-content: space-between;
}
.container {
	margin: 0 50px;
}
.top-box {
    display: flex;
    align-items: center;
}
.top-box .post-book {
    text-decoration: none;
    background: #afafaf;
    color: white;
    margin: 0 100px 0 auto;
    font-family: system-ui;
    box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
    padding: 7px 20px;
    border-radius: 25px;
}
.search-box {
	height: 200px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 100px;
}
.search-box .search-input {
	position: relative;
	width: fit-content;
}
.search-box .search-input .btn-search{
	height: 30px;
    width: 80px;
    background: #5aecbc;
    border: none;
    border-radius: 25px;
    position: absolute;
    right: 6px;
    cursor: pointer;
    top: 6px;
    color: #fff;
    letter-spacing: 1px;
}
.search-box .search-input .btn-search:hover {
    background: #afafaf;
}
.search-box h3{
	font-size: 15px;
    font-family: system-ui;
    color: #adadad;
    font-weight: 200;
    margin-bottom: 15px;
}
.search-box input {
	height: 40px;
    width: 500px;
    border-radius: 25px;
    padding: 20px;
    border: 1px solid #bdbdbd;
}
.main-nav {
	box-shadow: 0 3px 9px rgb(0 0 0 / 7%);
}
.main-nav ul {
	display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    margin: 0 0 0 auto;
    width: 60%;
}
.main-nav ul li {
	list-style: none;
}
.main-nav ul li i {
    font-size: 20px;
    color: #a5a4a4;
    position: relative;
}
.main-nav ul li i:hover {
    cursor: pointer;
    color: #777;
}
.main-nav ul li i span {
    font-size: 10px;
    font-family: system-ui;
    font-weight: 600;
    background: #17195f;
    color: #fff;
    padding: 2px 5px;
    line-height: 13px;
    border-radius: 50%;
    position: absolute;
    top: -7px;
    left: -5px;
}
.main-nav ul li a{
	text-decoration: none;
	color: #a2a2a2;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: system-ui;
}
.main-nav ul li a:hover {
	color: #3be8b0;
}
.drop-menu {
    background: white;
    box-shadow: 0px 3px 9px rgb(0 0 0 / 15%);
    border-radius: 3px;
    height: fit-content;
    width: fit-content;
    padding: 20px;
    z-index: 9;
    transform: translate(-80%, 10px);
    left: right;
    position: absolute;
    display: none;
}
.drop-menu-notes {
    background: white;
    box-shadow: 0px 3px 9px rgb(0 0 0 / 15%);
    border-radius: 3px;
    height: fit-content;
    width: fit-content;
    padding: 20px;
    z-index: 9;
    transform: translate(-80%, 10px);
    left: right;
    position: absolute;
    display: none;
}
.drop-menu-notes .notifications {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.drop-menu-notes .notifications li {
    padding: 15px 0;
    width: 100%;
}
.drop-menu-notes .notifications li .note-title{
    font-size: 16px;
    font-family: system-ui;
    color: #17195f;
    letter-spacing: 1px;
    font-weight: 600;
}
.drop-menu-notes .notifications li .note-paragraph{
    font-size: 14px;
    font-family: system-ui;
    color: #ababab;
}
.drop-menu ul {
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    height: fit-content;
    width: 100%;
}
.drop-menu .notifications {
    width: 100%;
}
.drop-menu ul li{
    padding: 10px;
}
.display-on {
    display: block;
}
.login {
	border: 1px solid #3be8b0;
    border-radius: 25px;
    padding: 5px 15px;
    background: none;
    color: #9c9c9c;
}
.login:hover {
    background: #3de8b1;
    color: #fff!important;
    cursor: pointer;
}
.books-container {
	width: 95%;
	margin: auto;
	display: flex;
    flex-wrap: wrap;
}
.books-container .book-item {
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	border-radius: 5px;
	flex: 0 0 18%;
    margin: 1%;
    position: relative;
    transition: all 0.1s ease-in-out;
}
.books-container .book-item:hover {
    transform: translateY(-2px);
}
.book-single .book-cover {
    position: relative;
}
.books-container .discount, .book-single .book-cover .discount {
    position: absolute;
    right: 5px;
    top: 5px;
    background: #323371;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    color: #fff;
    padding: 6px;
    font-size: 13px;
    font-weight: 200;
    font-family: system-ui;
}
.books-container .book-item .this-week {
	text-decoration: none;
    font-family: system-ui;
    font-size: 13px;
    padding: 3px 10px;
    background: #ececec;
    color: #929292;
    border-radius: 25px;
    position: absolute;
    top: 9px;
    left: 4px;
}

.books-container .book-item a {
	text-decoration: none;
}
.books-container .book-item .description .button-section{
	height: 50px;
    position: relative;
}
.books-container .book-item .description {
	text-align: center;
}
.books-container .book-item .main-img {
	width: 100%;
    height: 160px;
    border-radius: 9px;
    padding: 5px;
    object-fit: cover;
}
.books-container .book-item .title {
	padding: 10px 10px 0 10px;
    font-size: 16px;
    font-family: system-ui;
    font-weight: 400;
    letter-spacing: 1px;
    color: #565656;
}
.books-container .book-item .author {
	font-size: 14px;
    font-weight: 100;
    font-family: system-ui;
    letter-spacing: 1px;
    color: #48ab8b;
    padding: 0 10px;
}
.books-container .book-item .price {
	text-align: center;
    font-size: 25px;
    font-weight: 100;
    font-family: system-ui;
    letter-spacing: 1px;
    color: #a0a0a0;
    padding: 3px;
}
.books-container .book-item .button-look {
	background: #74efc7;
	position: absolute;
    width: 90%;
    top: 100%;
    transform: translate(-50%, -150%);
    font-size: 15px;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: system-ui;
    padding: 5px 20px;
    border-radius: 5px;
    color: white;
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
}
.login-register {
    height: 90vh;
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-register input {
    height: 40px;
    padding: 10px 20px;
    margin: 5px 0;
    width: 50%;
    border-radius: 25px;
    border: 1px solid #eaeaea;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
}
.login-register .btn-reg-log {
    width: 50%;
    border-radius: 25px;
    height: 40px;
    margin-top: 10px;
    border: none;
    font-weight: 600;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    background: #42f3b9;
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
}
.login-register .welcome-text {
    margin: 15px 30px;
}
.login-register .welcome-text a {
    text-decoration: none;
    font-size: 17px;
    letter-spacing: 1px;
    font-family: system-ui;
    font-weight: 500;
    color: #42f3b9;
}
.login-register .welcome-text a:hover {
    color: #4270f3;
}
.login-register .welcome-text h3 {
    font-size: 22px;
    color: #545454;
}
.login-register .welcome-text span {
    font-size: 15px;
    color: #ababab;
    letter-spacing: 0.5px;
}
.login-register .date-of-birth {
    width: 50%;
    display: flex;
}
.login-register .date-of-birth select {
    flex: 1;
    height: 40px;
    padding: 10px 15px;
    align-self: center;
    color: #5d5d5d;
    border-radius: 25px;
    border: 1px solid #eaeaea;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
    margin-left: 5px;
}
/* Single Book Page */
.book-single {
	display: flex;
	width: 85%;
    margin: auto;
}
.book-single .book-info {
    width: 100%;
}
.book-single .book-cover img {
	height: 350px;
    object-fit: cover;
    width: 250px;
}
.book-single .book-info .main-info .title {
	padding: 0 10px;
    font-family: system-ui;
    font-weight: 700;
    letter-spacing: 1px;
    color: #737373;
    border-bottom: 1px solid #e0e0e0;
    margin: 0 40px;
}
.book-single .main-info .author-rating .author {
	padding: 0 50px;
    font-size: 17px;
    color: #484848;
    font-family: system-ui;
    font-weight: 500;
}
.book-single .book-info .main-info .genre {
	font-size: 12px;
    padding: 0px 50px;
    letter-spacing: 1px;
    color: #1da277;
    font-family: system-ui;
}
.book-single .description {
	padding: 15px 50px;
    font-family: system-ui;
    color: #4e4e4e;
}
.book-single .report-book {
    margin: 10px 50px;
    font-family: system-ui;
    color: #fff;
    text-decoration: none;
    background: #5aecbc;
    padding: 4px 15px;
    box-shadow: 0 4px 9px rgb(0 0 0 / 12%);
    border-radius: 4px;
}
.book-single .report-book:hover {
    background: #fff;
    color: #5aecbc;
}
.dashboard-container {
    width: 70%;
    margin: 50px auto;
}
.dashboard-container .dashboard-top .title {
    font-family: system-ui;
    color: #3a3a3a;
    font-weight: 600;
    letter-spacing: 2px;
}
.dashboard-container .dashboard-top .sub-title {
    font-family: system-ui;
    padding: 5px 0;
    font-size: 17px;
    color: #ababab;
    letter-spacing: 2px;
}
.dashboard-container .elements {
    display: flex;
}
.dashboard-container .elements .some-element{
    background: #17195f;
    padding: 40px;
    position: relative;
    margin: 30px auto;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    flex: 0 0 48%;
}
.dashboard-container .elements .some-element h2{
    color: #ffffffb0;
    font-family: system-ui;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 1px;
}
.dashboard-container .elements .some-element p{
    font-family: system-ui;
    font-weight: 600;
    font-size: 60px;
    position: absolute;
    color: white;
    right: 30px;
    bottom: 15px;
}
.dashboard-container .notes h2 {
    text-align: center;
    font-family: system-ui;
    padding: 15px 0;
    font-weight: 400;
    color: #4c4c4c;
    text-transform: uppercase;
}
.dashboard-container .notes .single-note {
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    padding: 30px;
    border-radius: 4px;
    margin-bottom: 15px;
}
.dashboard-container .notes .single-note .book-cover {
    object-fit: cover;
    height: 200px;
    border-radius: 5px;
}
.dashboard-container .notes .single-note span {
    font-family: system-ui;
    font-size: 16px;
    color: #545454;
    letter-spacing: 1px;
}
.dashboard-container .notes .single-note .single-note-text .number {
    background: #17195f;
    padding: 3px 9px;
    border-radius: 50%;
    color: white;
    box-shadow: 0 4px 9px rgb(0 0 0 / 10%);
}
.dashboard-container .notes .single-note span a {
    text-decoration: none;
    letter-spacing: 0px;
    font-size: 18px;
    color: #17195f;
    font-weight: 500;
}
.dashboard-container .notes .single-note .single-note-actions {
    margin-top: 15px;
}
.dashboard-container .notes .single-note .single-note-actions .book-approved-user {
    background: #17195f;
    font-family: system-ui;
    padding: 5px 10px;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 3px 9px rgb(0 0 0 / 17%);
}
.dashboard-container .notes .single-note .single-note-actions .single-note-look-btn {
    background: #3de8b1;
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 2px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
    font-family: system-ui;
}
.dashboard-container .notes .single-note .single-note-actions .approve-button {
    background: #777;
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    margin: 0 0 10px 0;
    border-radius: 2px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
    font-family: system-ui;
}
.turn-off{
    background: #e83d3d!important;
}
.post-book .btn-post-book {
    background: #37427d;
    border: none;
    letter-spacing: 0.5px;
    color: white;
    padding: 7px 15px;
    width: 80%;
    border-radius: 25px;
    box-shadow: 0 3px 9px rgb(0 0 0 / 10%);
}
.right .post-book {
    text-decoration: none;
    font-family: system-ui;
    background: #6f6f6f;
    line-height: -24px;
    font-size: 15px;
    padding: 8px 25px;
    letter-spacing: 1px;
    border-radius: 25px;
    color: #fff;
    box-shadow: 0 3px 9px rgb(0 0 0 / 10%);
}
.comment-section {
    width: 70%;
    margin: 100px auto;
}
.comment-section .comment {
    display: flex;
    padding: 40px 0 60px 0;
    flex-direction: column;
}
.comment-section .comment .user-rating i {
    color: #ecc65a;
}
.comment-section .comment .comment-author {
    display: flex;
    align-items: center;
    padding: 0 0 10px 0;
}
.comment-section .comment .comment-author img{
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.comment-section .comment .comment-author h2{
    padding: 0 10px;
    font-family: system-ui;
    color: #929292;
    font-weight: 400;
    font-size: 16px;
}
.comment-section .comment .actual-comment p{
    font-family: system-ui;
    color: #636363;
    letter-spacing: 1px;
}
.comment-section .comment .actual-comment span{
    font-size: 12px;
    padding: 0 10px;
    color: #cecece;
    letter-spacing: 0px;
}
.comments {
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.comments .rating-div {
    font-family: system-ui;
    display: flex;
    align-items: center;
    color: #929292;
    font-weight: 200;
    font-size: 13px;
    letter-spacing: 1px;
}
.comment-section h1{
    font-family: system-ui;
    font-weight: 700;
    letter-spacing: 1px;
    color: #737373;
    border-bottom: 1px solid #e0e0e0;
    margin: 20px 0;
}
.comments .comment-btn {
    background: #929292;
    margin: 20px 0;
    border-radius: 25px;
    padding: 8px 0;
    color: white;
    letter-spacing: 1px;
    box-shadow: 0 4px 9px rgb(0 0 0 / 13%);
}
.comments textarea {
    height: 100px;
    border: 1px solid #929292;
    border-radius: 4px;
    box-shadow: 0 3px 9px rgb(0 0 0 / 10%);
}
.admin-actions .dashboard-btn {
    background: #6f6f6f;
    text-decoration: none;
    padding: 6px 25px;
    box-shadow: 0 4px 9px rgb(0 0 0 / 15%);
    border-radius: 4px;
    color: #fff;
    font-family: system-ui;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    margin: 0 10px;
}
.admin-actions .dashboard-btn:hover {
    background: #777;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

